.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box1 {
    text-align: center;
    font-size: xx-large;
}
.title_1 {
    color:indianred;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box2 {
    background-color: rgb(218, 216, 216);
    width: 50%;
    margin-left: 25%;
    padding-left: 15px;
}
.title_2 {
    color:indianred;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box3 {
    margin-top: 15px;
    background-color: rgb(218, 216, 216);
    width: 50%;
    margin-left: 25%;
    padding-left: 15px;
}

.box4 {
    margin-top: 15px;
    background-color: rgb(218, 216, 216);
    width: 50%;
    margin-left: 25%;
    padding-left: 15px;
}
.box5 {
    margin-top: 15px;
    background-color: rgb(218, 216, 216);
    width: 50%;
    margin-left: 25%;
    padding-left: 15px;
}